
.btn {
  display: inline-block;
  position: relative;
  min-width: 70px;
  padding: 4px 15px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-clip: padding-box;
  background-image: linear-gradient(#5ea8f9 0%, #4e9ffa 25%, #3490fc 50%, #1f82fd 75%, #0975ff 100%);
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  white-space: nowrap;
  cursor: default;
  vertical-align: middle;
  user-select: none;

  &:after {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 5px;
    background-image: linear-gradient(#4096f8 50%, #05f 100%);
    content: '';
    z-index: -1;
  }

  &:active:hover {
    background-image: linear-gradient(#3d8cff 0%, #3683f8 25%, #2273ed 50%, #1468e4 75%, #0d5cd5 100%);

    &:after {
      background-image: linear-gradient(#3080fc 50%, #1048af 100%);
    }
  }
}
