.modal{
  border: 1px solid rgba(0,0,0,.2);
  background-color: #efefef;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgba(0,0,0,.2), inset 0px 14px 25px -15px rgba(0,0,0,.8);;
  position: absolute;
  top: 60px;
  left:50%;
  width: 400px;
  margin-left: -200px;
  z-index: 10;
}
