.tab-view{
	background: #e3e3e3;
	width: 100%;
	border: 1px solid #dfdfdf;
	border-top-color: #d4d4d4;
	border-radius: $border-radius;
	padding: 50px;
	position: relative;
	z-index: 1;

	> .button-groups{
		position: absolute;
		left: 50%;
		top: -10px;
		z-index: 10;
		transform: translateX(-50%);
	}
}