
.window{
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: -9px;
    bottom: -9px;
    left: -9px;
    right: -9px;
    border-radius: 3px;
    border: 3px solid #89bff5;
    pointer-events:none;
    transition: all .2s;
    opacity: 0
  }
  &:active{
    &:after{
      top: -3px;
      bottom: -3px;
      left: -3px;
      right: -3px;
      opacity: 1
    }
  }
}
