
// ----- OS X colors -----

// OS X default colors
$blue:                   #4078c0 !default;
$gray-dark:              #333 !default;
$red:                    red !default;

// OS X text colors
$text-blue:                   $blue !default;
$text-gray-dark:              $gray-dark !default;

// OS X fonts
$body-font: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif !default;
$body-font-size: 12px !default;
