
.btn {
  display: inline-block;
  position: relative;
  padding: 3px 10px;
  border: 0;
  border-radius: 4px;
  background-color: $bg-white;
  background-image: none;
  color: $text-gray;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  vertical-align: middle;
  user-select: none;
  position: relative;

  &:before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border-radius: 5px;
    background-image: linear-gradient(#c9c9c9 50%, #adacad 100%);
    content: '';
    z-index: -1;
  }

  &:active:hover {
    background-image: linear-gradient(#3d8cff 0%, #3683f8 25%, #2273ed 50%, #1468e4 75%, #0d5cd5 100%);
    color: $text-white;

    &:before {
      background-image: linear-gradient(#3080fc 50%, #1048af 100%);
    }
  }
}
