.btn-passive {
  background-color: #fafafa;
  color: $text-gray;

  &:before {
    background-image: linear-gradient(#c9c9c9 50%, #adacad 100%);
  }

  &:active:hover {
    background-image: none;
    background-color: $bg-gray-light;
    color: $text-gray;

    &:before {
      background-image: linear-gradient(#bbb 50%, #999 100%);
    }
  }

  .blurred &{
    background-image: none;
    background-color: #f5f4f5;

    &:before {
      background-image: none;
      background-color: #d6d6d6;
    }
  }


}
