
// ----- OS X colors -----

// OS X default colors
$blue:                   #4078c0 !default;
$gray-dark:              #333 !default;
$red:                    blue !default;

// OS X text colors
$text-blue:                   $blue !default;
$text-gray-dark:              $gray-dark !default;

// OS X fonts
$body-font: "Helvetica Nue", arial, sans-serif !default;
$body-font-size: 14px !default;
