
html {
  -webkit-font-smoothing: antialiased;
}

body {
  color: $text-black;
  font-family: $body-font;
  font-size: $body-font-size;
}

* {
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
