
// Font stacks
$body-font: 				system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif !default;

// The base body size
$body-font-size: 		13px !default;

// Font sizes, weight & line height
$font-weight-bold:  600 !default;
$font-weight-semi-bold:  500 !default;
$font-weight-normal:400 !default;
$font-weight-light: 300 !default;

$font-size-small:   11px !default;
$font-size-normal:  16px !default;
$font-size-large:   18px !default;

// Grid
$grid-gutter:       10px !default;

// ---- Colors ----
$primary:           #005ed4 !default;
$positive:          #49c03c !default;
$negative:          #FF4949 !default;
$warning:           #FFC82C !default;
$info:              #1FB6FF !default;

// Base colors
$black:             #000 !default;
$gray:              #666 !default;
$gray-dark:         #333 !default;
$gray-light:        #999 !default;
$white:             #fff !default;

// Action colors
$focus-bg:          #005ed4 !default;

$focus-border:      #78a5dc !default;

// Background colors
$bg-white:          #fff    !default;

$bg-gray:           #f4f3f4 !default;
$bg-gray-dark:      #ccc !default;
$bg-gray-light:     #ebebeb !default;

// Border colors
$border-gray:       #bebdbe !default;
$border-gray-dark:  #b0b0b0 !default;
$border-gray-light: #d0d0d0 !default;


// Text colors
$text-primary:      $primary !default;
$text-white:        #fff     !default;
$text-black:        #000     !default;

$text-gray:         #333     !default;
$text-gray-dark:    #222     !default;
$text-gray-normal:  #555     !default;
$text-gray-light:   #666     !default;


// Components

// Toolbars
$toolbar-border-gray-dark:         #a4a4a4  !default;
$toolbar-border-gray-light:        #e3e3e3  !default;
$toolbar-border-gray:              #cecece  !default;
$toolbar-shadow-light:             #f3f3f3  !default;

$disabled-controls:                 #dcdcdc !default;
$disabled-controls-border:          darken($disabled-controls, 7%) !default;

$close:            #ff544d !default;
$close-border:     darken($close, 5%) !default;

$minimize:         #ffb429 !default;
$minimize-border:  darken($minimize, 10%) !default;

$maximize:         #24c339 !default;
$maximize-border:  darken($maximize, 5%) !default;

$text-title:       #555;
$text-title-light: lighten($text-title, 30%);
