<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Neutronkit</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="../../.tmp/styles/osx.css">

  </head>
  <body style="background-color: #ececec">
    <div class="window">
      <div class="toolbar">
        <div class="controls">
          <i close></i>
          <i minimize></i>
          <i></i>
        </div>
        <div class="title">
          Window Title
        </div>
      </div>
      <div style="padding:10px;">

        <button class="btn">Default</button>
        <button class="btn btn-passive">Passive</button>
        <button class="btn btn-primary">Primary</button>
        <button class="btn btn-positive">Positive</button>
        <button class="btn btn-negative">Negative</button>
        <button class="btn btn-warning">Warning</button>
        <br><br>

        <table class="table ">
          <thead>
            <tr>
              <th width="20">Hide</th>
              <th>Item</th>
              <th>Kind</th>
            </tr>
          </thead>
          <tbody>
            <tr tabindex="0">
              <td class="text-center">
                <input type="checkbox">
              </td>
              <td>Google Chrome</td>
              <td>Application</td>
            </tr>
            <tr tabindex="0">
              <td class="text-center">
                <input type="checkbox">
              </td>
              <td>Dropbox</td>
              <td>Application</td>
            </tr>
            <tr tabindex="0">
              <td class="text-center">
                <input type="checkbox">
              </td>
              <td>Dropbox</td>
              <td>Application</td>
            </tr>
            <tr tabindex="0">
              <td class="text-center">
                <input type="checkbox">
              </td>
              <td>Dropbox</td>
              <td>Application</td>
            </tr>
            <tr tabindex="0">
              <td class="text-center">
                <input type="checkbox">
              </td>
              <td>Dropbox</td>
              <td>Application</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <script src="../../.tmp/scripts/main.js"></script>
  </body>
</html>
