* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font: #{$body-font-size}/1.4 $body-font;
}

body {
  font: #{$body-font-size}/1.4 $body-font;
  color: $text-gray-dark;
}

a {
  color: $text-blue;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}
