
/*
 * Clearfix
 */

@mixin clearfix {
  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

/*
 * Border Radius
 */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/*
 * User Select
 */
@mixin user-select($param) {
  -webkit-touch-callout: $param;
  -webkit-user-select: $param;
  -khtml-user-select: $param;
  -moz-user-select: $param;
  -ms-user-select: $param;
  user-select: $param;
}
