/*!
 * Helpers
 */

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.fl {
	float: #{$left};
}

.fr {
	float: #{$right};
}

.fn {
	float: none;
}

.text-left {
	text-align: #{$left};
}

.text-center {
  text-align: center;
}

.text-right {
	text-align: #{$right};
}

.clearfix,
.cf{
    @include clearfix();
}

.no-padding{
  padding: 0 !important;
}

.padding{
  padding: 10px !important;
}
